<div class="animated fadeIn">
  <!--/.card-->
   <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         Doctor List
        </div>
        <br>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Doctor Info
              </div>
              <div class="card-body">
                      <h4>
                          {{docInfo.fullName}}
                          </h4>
                <p>{{docInfo.specialty}}</p>
                      
                  <p>{{docInfo.practiceName}}</p>
                      
                  <p>{{docInfo.employees}}</p>
                      
                  <p>{{docInfo.sales}}</p>
                      
                  <p>
                    <label>SIC Code:  </label> {{docInfo.sicCode}}
                  </p>
                  <p>Address</p>
                  <p> {{docInfo.address}},</p>
                      <p> {{docInfo.city}},</p>
                          <p> {{docInfo.state}} {{docInfo.zip}}</p>
                          

                
              

              </div>
            </div>
          </div><!--/.col-->
          <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Location
              </div>
              <div class="card-body">
                  <p>Latitude: {{docInfo.latitude}}</p>
                      
                  <p>Longitude: {{docInfo.longitude}}</p>
              </div>
            </div>
          </div><!--/.col-->
  </div><!--/.row-->
 
</div>

