<div class="animated fadeIn">
  <!--/.card-->
   <div class="row">
    <div class="col-md-12">
     
        <br>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="card">
              <div class="card-header">
                Doctor Info
              </div>
              <div class="card-body">
                      <h4>
                         <b> {{docInfo.fullName}}</b>
                          </h4>
                          <p>{{docInfo.practiceName}}</p>
                          <b><p>{{docInfo.specialty}}</p></b>
                          <a routerLink="../../editdetails/{{docInfo.id}}"><button type="button" class="btn btn-sm btn-pill btn-primary">Edit Details</button></a>
                            &nbsp;
                            <button type="button" class="btn btn-sm btn-pill btn-danger">{{docInfo.aoaMembership}}</button>
                            &nbsp;
                            <a target="_blank" href="{{docInfo.publications}}"><button type="button" class="btn btn-sm btn-pill btn-primary">View Publications</button></a>
                    
                         
                            <div class="card-body">
                             <agm-map [latitude]="lat" [longitude]="lng">
                              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                        </div>
                       
               
                      
                  
                      
                  <p><b>Employees:</b> {{docInfo.employees}}</p>
                      
                  <p><b>Sales:</b> {{docInfo.sales}}</p>


                      
                  <p>
                   <b>SIC Code:</b> {{docInfo.sicCode}}
                  </p>
                  <p><b>Address:</b></p>
                  <p> {{docInfo.address}},</p>
                      <p> {{docInfo.city}},</p>
                          <p> {{docInfo.state}} {{docInfo.zip}}</p>
                          
                     
                 <p><b>Contact:</b> {{docInfo.phone}}</p>
                 

              </div>
            </div>
          </div><!--/.col-->
      
  </div><!--/.row-->
 

