<div class="animated fadeIn">
  <!--/.card-->
   <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         Doctor List
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-info">
                    <small class="text-muted">New Clients</small>
                    <br>
                    <strong class="h4">9,123</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-danger">
                    <small class="text-muted">Recuring Clients</small>
                    <br>
                    <strong class="h4">22,643</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
             </div><!--/.col-->
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-6">
                  <div class="callout callout-warning">
                    <small class="text-muted">Pageviews</small>
                    <br>
                    <strong class="h4">78,623</strong>
                  </div>
                </div><!--/.col-->
                <div class="col-sm-6">
                  <div class="callout callout-success">
                    <small class="text-muted">Organic</small>
                    <br>
                    <strong class="h4">49,123</strong>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
              <hr class="mt-0">
             </div><!--/.col-->
          </div><!--/.row-->
          <br>
              <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th>Doctor Name</th>
                <th>Practice Name</th>
                <th>Speciality</th>
                <th>City</th>
                <th>State</th>
                <th>Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let docInfo of docInfos.content">
                 <td>
                  <div>{{docInfo.fullName}}</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2018
                  </div>
                </td>
                <td>
                  <div>{{docInfo.practiceName}}</div>
                 
                </td>
                <td>
                  <div>{{docInfo.specialty}}</div>
                  
                </td>
                <td>
                  <div>{{docInfo.city}}</div>
                  
                </td>
                <td>
                  <div>{{docInfo.state}}</div>
                  
                </td>
                <td>
                  <div class="col-6 col-sm-4 col-md mb-3 mb-xl-0 text-center">
                    <button type="button" class="btn btn-sm btn-pill btn-primary">Edit</button>
                    &nbsp;
                    <button type="button" class="btn btn-sm btn-pill btn-danger">Delete</button>
                  </div>
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
